L2Dn/L2Dn.GameServer/DataPack/xsd/AgathionData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="agathion" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute type="xs:int" name="id" use="optional"/>
								<xs:attribute type="xs:byte" name="enchant" use="optional"/>
								<xs:attribute type="xs:string" name="mainSkill" use="optional"/>
								<xs:attribute type="xs:string" name="subSkill" use="optional"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>