L2Dn/L2Dn.GameServer/DataPack/xsd/CrystallizableItems.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="templates" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="crystallizable_template" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:attribute type="xs:int" name="id" use="required" />
												<xs:attribute type="xs:long" name="count" use="required" />
												<xs:attribute type="xs:float" name="chance" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:string" name="crystalType" use="required" />
									<xs:attribute type="xs:string" name="crystallizationType" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="items" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="crystallizable_item" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:attribute type="xs:int" name="id" use="required" />
												<xs:attribute type="xs:long" name="count" use="required" />
												<xs:attribute type="xs:float" name="chance" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:short" name="id" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="itemsOnEnchantFailure" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="weapon" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:attribute type="xs:int" name="id" use="required" />
												<xs:attribute type="xs:int" name="enchant" use="required" />
												<xs:attribute type="xs:float" name="chance" use="required" />
												<xs:attribute type="xs:int" name="amountD" use="required" />
												<xs:attribute type="xs:int" name="amountC" use="required" />
												<xs:attribute type="xs:int" name="amountB" use="required" />
												<xs:attribute type="xs:int" name="amountA" use="required" />
												<xs:attribute type="xs:int" name="amountS" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="armor" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:attribute type="xs:int" name="id" use="required" />
												<xs:attribute type="xs:int" name="enchant" use="required" />
												<xs:attribute type="xs:float" name="chance" use="required" />
												<xs:attribute type="xs:int" name="amountD" use="required" />
												<xs:attribute type="xs:int" name="amountC" use="required" />
												<xs:attribute type="xs:int" name="amountB" use="required" />
												<xs:attribute type="xs:int" name="amountA" use="required" />
												<xs:attribute type="xs:int" name="amountS" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>