L2Dn/L2Dn.GameServer/DataPack/xsd/ElementalSpiritData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="spirit" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="level" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:byte" name="id" use="required"/>
											<xs:attribute type="xs:short" name="atk" use="required"/>
											<xs:attribute type="xs:short" name="def" use="required"/>
											<xs:attribute type="xs:byte" name="critRate" use="required"/>
											<xs:attribute type="xs:byte" name="critDam" use="required"/>
											<xs:attribute type="xs:long" name="maxExp" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="itemToEvolve" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:int" name="id" use="optional"/>
											<xs:attribute type="xs:int" name="count" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="absorbItem" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:int" name="id" use="required"/>
											<xs:attribute type="xs:short" name="experience" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="name" use="required"/>
						<xs:attribute type="xs:byte" name="type" use="required"/>
						<xs:attribute type="xs:byte" name="stage" use="required"/>
						<xs:attribute type="xs:short" name="npcId" use="required"/>
						<xs:attribute type="xs:int" name="extractItem" use="required"/>
						<xs:attribute type="xs:byte" name="maxCharacteristics" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>