L2Dn/L2Dn.GameServer/DataPack/xsd/localisations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="list">
		<complexType>
			<sequence minOccurs="1" maxOccurs="1">
				<element name="localisation" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<attribute name="id" type="nonNegativeInteger" use="required" />
						<attribute name="translation" type="normalizedString" use="required" />
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>