L2Dn/L2Dn.GameServer/DataPack/xsd/PetAcquireList.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pet" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="skill" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:int" name="id" />
											<xs:attribute type="xs:int" name="lvl" />
											<xs:attribute type="xs:int" name="reqLvl" />
											<xs:attribute type="xs:int" name="evolve" />
											<xs:attribute type="xs:int" name="item" use="optional"/>
											<xs:attribute type="xs:long" name="itemAmount" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:int" name="type"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>