L2Dn/L2Dn.GameServer/DataPack/xsd/RaidTeleportListData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="teleport" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute type="xs:short" name="id" use="required"/>
								<xs:attribute type="xs:int" name="x" use="required"/>
								<xs:attribute type="xs:int" name="y" use="required"/>
								<xs:attribute type="xs:short" name="z" use="required"/>
								<xs:attribute type="xs:byte" name="price" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>