L2Dn/L2Dn.GameServer/DataPack/xsd/RandomCraftRewardData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rewards">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:int" name="id" use="required"/>
											<xs:attribute type="xs:long" name="count" use="optional"/>
											<xs:attribute type="xs:double" name="chance" use="optional"/>
											<xs:attribute type="xs:boolean" name="announce" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>