L2Dn/L2Dn.GameServer/DataPack/xsd/skills.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="list" nillable="true" type="XmlSkillList" />
  <xs:complexType name="XmlSkillList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="skill" type="XmlSkill" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkill">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="1" maxOccurs="1" name="abnormalInstant" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="abnormalLevel" type="XmlSkillValueOfInt32" />
        <xs:element minOccurs="0" maxOccurs="1" name="abnormalResists" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="abnormalTime" type="XmlSkillValue" />
        <xs:element minOccurs="0" maxOccurs="1" name="abnormalType" type="XmlSkillValue" />
        <xs:element minOccurs="0" maxOccurs="1" name="abnormalVisualEffect" type="XmlSkillValue" />
        <xs:element minOccurs="0" maxOccurs="1" name="activateRate" type="XmlSkillValue" />
        <xs:element minOccurs="0" maxOccurs="1" name="affectHeight" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="affectLimit" type="XmlSkillValue" />
        <xs:element minOccurs="0" maxOccurs="1" name="affectObject" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="affectRange" type="XmlSkillValueOfUInt16" />
        <xs:element minOccurs="0" maxOccurs="1" name="affectScope" type="XmlSkillValue" />
        <xs:element minOccurs="0" maxOccurs="1" name="attachToggleGroupId" type="XmlSkillValueOfInt32" />
        <xs:element minOccurs="0" maxOccurs="1" name="attributeType" type="XmlSkillValue" />
        <xs:element minOccurs="0" maxOccurs="1" name="attributeValue" type="XmlSkillValueOfByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="basicProperty" type="XmlSkillValue" />
        <xs:element minOccurs="1" maxOccurs="1" name="blockActionUseSkill" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="blockedInOlympiad" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="buffProtectLevel" type="xs:unsignedByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="canBeDispelled" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="canCastWhileDisabled" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="canDoubleCast" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="castRange" type="XmlSkillValueOfInt16" />
        <xs:element minOccurs="0" maxOccurs="1" name="channelingEffects" type="XmlSkillEffectList" />
        <xs:element minOccurs="1" maxOccurs="1" name="channelingSkillId" type="xs:unsignedShort" />
        <xs:element minOccurs="1" maxOccurs="1" name="channelingStart" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="channelingTickInterval" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="chargeConsume" type="XmlSkillValueOfByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="clanRepConsume" type="XmlSkillValueOfInt32" />
        <xs:element minOccurs="0" maxOccurs="1" name="cond" type="XmlSkillCond" />
        <xs:element minOccurs="0" maxOccurs="1" name="conditions" type="XmlSkillConditionList" />
        <xs:element minOccurs="0" maxOccurs="1" name="coolTime" type="XmlSkillValueOfUInt16" />
        <xs:element minOccurs="1" maxOccurs="1" name="deleteAbnormalOnLeave" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="displayInList" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="doubleCastSkill" type="XmlSkillValueOfInt32" />
        <xs:element minOccurs="0" maxOccurs="1" name="effectPoint" type="XmlSkillValueOfInt16" />
        <xs:element minOccurs="0" maxOccurs="1" name="effectRange" type="XmlSkillValueOfInt16" />
        <xs:element minOccurs="0" maxOccurs="1" name="effects" type="XmlSkillEffectList" />
        <xs:element minOccurs="0" maxOccurs="1" name="endEffects" type="XmlSkillEffectList" />
        <xs:element minOccurs="1" maxOccurs="1" name="excludedFromCheck" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="famePointConsume" type="XmlSkillValueOfInt32" />
        <xs:element minOccurs="0" maxOccurs="1" name="fanRange" type="XmlSkillValue" />
        <xs:element minOccurs="1" maxOccurs="1" name="halfKillRate" type="xs:unsignedByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="hitCancelTime" type="xs:decimal" />
        <xs:element minOccurs="0" maxOccurs="1" name="hitTime" type="XmlSkillValueOfUInt16" />
        <xs:element minOccurs="0" maxOccurs="1" name="hpConsume" type="XmlSkillValueOfInt16" />
        <xs:element minOccurs="0" maxOccurs="1" name="icon" type="XmlSkillValue" />
        <xs:element minOccurs="1" maxOccurs="1" name="inheritElementals" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="inheritPercent" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="irreplacableBuff" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="isDebuff" type="XmlSkillValueOfBoolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="isHidingMessages" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="isMagic" type="XmlSkillValueOfByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="isMentoring" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="isNecessaryToggle" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="isOutpost" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="isRecoveryHerb" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="isSharedWithSummon" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="isSuicideAttack" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="isTriggeredSkill" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="itemConsumeCount" type="XmlSkillValueOfByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="itemConsumeId" type="XmlSkillValueOfInt32" />
        <xs:element minOccurs="1" maxOccurs="1" name="itemConsumeSteps" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="lightSoulMaxConsume" type="XmlSkillValueOfInt32" />
        <xs:element minOccurs="0" maxOccurs="1" name="lvlBonusRate" type="XmlSkillValueOfByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="magicCriticalRate" type="xs:byte" />
        <xs:element minOccurs="0" maxOccurs="1" name="magicLevel" type="XmlSkillValueOfSByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="maxChance" type="XmlSkillValueOfInt32" />
        <xs:element minOccurs="0" maxOccurs="1" name="minChance" type="XmlSkillValueOfInt32" />
        <xs:element minOccurs="1" maxOccurs="1" name="minPledgeClass" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="mpConsume" type="XmlSkillValueOfUInt16" />
        <xs:element minOccurs="0" maxOccurs="1" name="mpInitialConsume" type="XmlSkillValueOfByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="mpPerChanneling" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="nextAction" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="operateType" type="XmlSkillValue" />
        <xs:element minOccurs="0" maxOccurs="1" name="passiveConditions" type="XmlSkillConditionList" />
        <xs:element minOccurs="0" maxOccurs="1" name="pveEffects" type="XmlSkillEffectList" />
        <xs:element minOccurs="0" maxOccurs="1" name="pvpEffects" type="XmlSkillEffectList" />
        <xs:element minOccurs="1" maxOccurs="1" name="removedOnAnyActionExceptMove" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="removedOnDamage" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="removedOnUnequipWeapon" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="reuseDelay" type="XmlSkillValueOfUInt32" />
        <xs:element minOccurs="1" maxOccurs="1" name="reuseDelayGroup" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="reuseDelayType" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="selfEffects" type="XmlSkillEffectList" />
        <xs:element minOccurs="0" maxOccurs="1" name="shadowSoulMaxConsume" type="XmlSkillValueOfInt32" />
        <xs:element minOccurs="1" maxOccurs="1" name="soulMaxConsumeCount" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="specialLevel" type="XmlSkillValueOfSByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="startEffects" type="XmlSkillEffectList" />
        <xs:element minOccurs="0" maxOccurs="1" name="staticReuse" type="XmlSkillValueOfBoolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="stayAfterDeath" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="subordinationAbnormalType" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="targetConditions" type="XmlSkillConditionList" />
        <xs:element minOccurs="0" maxOccurs="1" name="targetType" type="XmlSkillValue" />
        <xs:element minOccurs="1" maxOccurs="1" name="toggleGroupId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="trait" type="XmlSkillValue" />
        <xs:element minOccurs="0" maxOccurs="1" name="variable" type="XmlSkillVariable" />
        <xs:element minOccurs="1" maxOccurs="1" name="withoutAction" type="xs:boolean" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required" />
    <xs:attribute name="toLevel" type="xs:unsignedByte" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="displayId" type="xs:int" />
    <xs:attribute name="displayLevel" type="xs:unsignedByte" />
    <xs:attribute name="referenceId" type="xs:int" />
  </xs:complexType>
  <xs:complexType name="XmlSkillValueOfInt32" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="XmlSkillLevelValueOfInt32" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillLevelValueOfInt32">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attribute name="level" type="xs:unsignedByte" />
        <xs:attribute name="fromLevel" type="xs:unsignedByte" />
        <xs:attribute name="toLevel" type="xs:unsignedByte" />
        <xs:attribute name="fromSubLevel" type="xs:unsignedShort" />
        <xs:attribute name="toSubLevel" type="xs:unsignedShort" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="XmlSkillValue" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="XmlSkillLevelValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillLevelValue">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="level" type="xs:unsignedByte" />
        <xs:attribute name="fromLevel" type="xs:unsignedByte" />
        <xs:attribute name="toLevel" type="xs:unsignedByte" />
        <xs:attribute name="fromSubLevel" type="xs:unsignedShort" />
        <xs:attribute name="toSubLevel" type="xs:unsignedShort" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="XmlSkillVariable">
    <xs:complexContent mixed="true">
      <xs:extension base="XmlSkillValue">
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlSkillValueOfUInt16" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="XmlSkillLevelValueOfUInt16" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillLevelValueOfUInt16">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedShort">
        <xs:attribute name="level" type="xs:unsignedByte" />
        <xs:attribute name="fromLevel" type="xs:unsignedByte" />
        <xs:attribute name="toLevel" type="xs:unsignedByte" />
        <xs:attribute name="fromSubLevel" type="xs:unsignedShort" />
        <xs:attribute name="toSubLevel" type="xs:unsignedShort" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="XmlSkillValueOfByte" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="XmlSkillLevelValueOfByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillLevelValueOfByte">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedByte">
        <xs:attribute name="level" type="xs:unsignedByte" />
        <xs:attribute name="fromLevel" type="xs:unsignedByte" />
        <xs:attribute name="toLevel" type="xs:unsignedByte" />
        <xs:attribute name="fromSubLevel" type="xs:unsignedShort" />
        <xs:attribute name="toSubLevel" type="xs:unsignedShort" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="XmlSkillValueOfInt16" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="XmlSkillLevelValueOfInt16" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillLevelValueOfInt16">
    <xs:simpleContent>
      <xs:extension base="xs:short">
        <xs:attribute name="level" type="xs:unsignedByte" />
        <xs:attribute name="fromLevel" type="xs:unsignedByte" />
        <xs:attribute name="toLevel" type="xs:unsignedByte" />
        <xs:attribute name="fromSubLevel" type="xs:unsignedShort" />
        <xs:attribute name="toSubLevel" type="xs:unsignedShort" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="XmlSkillEffectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="effect" type="XmlSkillEffect" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillEffect">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlSkillLevelRestriction">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="1" maxOccurs="1" name="AIRBIND" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="ANCIENTSWORD" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="ANIMAL_WEAKNESS" type="XmlSkillValueOfSByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="ANOMALY" type="XmlSkillValueOfSByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="BEAST_WEAKNESS" type="XmlSkillValueOfSByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="BLEED" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="1" maxOccurs="1" name="BLUFF" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="BLUNT" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="1" maxOccurs="1" name="BOSS" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="BOW" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="BUG_WEAKNESS" type="XmlSkillValueOfSByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="CHANGEBODY" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="CONSTRUCT_WEAKNESS" type="XmlSkillValueOfSByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="CROSSBOW" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="DAGGER" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="DEMONIC_WEAKNESS" type="XmlSkillValueOfSByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="DEPORT" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="DERANGEMENT" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="1" maxOccurs="1" name="DISARM" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="DRAGON_WEAKNESS" type="XmlSkillValueOfSByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="DUAL" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="DUALDAGGER" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="DUALFIST" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="FEAR" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="1" maxOccurs="1" name="FIST" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="GIANT_WEAKNESS" type="XmlSkillValueOfSByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="HOLD" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="IMPRISON" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="INFECTION" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="KNOCKBACK" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="KNOCKDOWN" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="MAGICAL_DEFENCE" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="MAGIC_ATTACK" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="MAGIC_ATTACK_SPEED" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="MAX_HP" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="MAX_MP" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="PARALYZE" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="PHYSICAL_ATTACK" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="PhysicalAttackRange" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="PhysicalAttackRangeMode" type="XmlSkillValue" />
            <xs:element minOccurs="0" maxOccurs="1" name="PHYSICAL_ATTACK_SPEED" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="1" maxOccurs="1" name="PHYSICAL_BLOCKADE" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="PHYSICAL_DEFENCE" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="PISTOLS" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="PLANT_WEAKNESS" type="XmlSkillValueOfSByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="POISON" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="POLE" type="XmlSkillValueOfSByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="PSYCHIC" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="PULL" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="RAPIER" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="ROOT_PHYSICALLY" type="XmlSkillValueOfSByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="SHOCK" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="SILENCE" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="SkillBonusRange" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="SkillBonusRangeMode" type="XmlSkillValue" />
            <xs:element minOccurs="0" maxOccurs="1" name="SLEEP" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="SUPPRESSION" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="SWORD" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="TURN_STONE" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="UNDEAD_WEAKNESS" type="XmlSkillValueOfSByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="VALAKAS" type="xs:byte" />
            <xs:element minOccurs="1" maxOccurs="1" name="ZONE" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="abnormalType" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="accuracyAmount" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="accuracyMode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="addStat" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="aggressive" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="allowBadSkills" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="allowGoodSkills" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="allowNormalAttack" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="allowSkillAttack" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="allowWeapons" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="allowedSkills" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="amount" type="XmlSkillValue" />
            <xs:element minOccurs="1" maxOccurs="1" name="angle" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="armorType" type="XmlSkillStringList" />
            <xs:element minOccurs="0" maxOccurs="1" name="attackerType" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="attackSkillId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="attribute" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="baseStat" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="blockedActions" type="xs:byte" />
            <xs:element minOccurs="1" maxOccurs="1" name="canKill" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="castSkillId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="chance" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="chanceBoost" type="xs:unsignedShort" />
            <xs:element minOccurs="1" maxOccurs="1" name="chanceToRepeat" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="charge" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="chargeConsume" type="xs:unsignedByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="closeSkill" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="closeSkillLevel" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="consumeItemCount" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="consumeItemId" type="xs:unsignedShort" />
            <xs:element minOccurs="1" maxOccurs="1" name="cp" type="xs:unsignedByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="critical" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="criticalChance" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="criticalLimit" type="xs:unsignedShort" />
            <xs:element minOccurs="1" maxOccurs="1" name="cubicId" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="cubicLvl" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="damage" type="XmlSkillValueOfUInt16" />
            <xs:element minOccurs="0" maxOccurs="1" name="deathPenalty" type="XmlSkillValueOfSByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="debuffModifier" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="debuffType" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="delay" type="xs:unsignedShort" />
            <xs:element minOccurs="1" maxOccurs="1" name="despawnDelay" type="xs:unsignedInt" />
            <xs:element minOccurs="0" maxOccurs="1" name="disable" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="dispel" type="XmlSkillValue" />
            <xs:element minOccurs="1" maxOccurs="1" name="distance" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="escapeType" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="existingSkillId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="exp" type="XmlSkillValueOfSByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="expMultiplier" type="xs:decimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="expNeeded" type="XmlSkillValueOfUInt16" />
            <xs:element minOccurs="0" maxOccurs="1" name="fullLethal" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="halfLethal" type="xs:unsignedByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="heal" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="hp" type="xs:unsignedByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="hpPercent" type="xs:unsignedByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:unsignedShort" />
            <xs:element minOccurs="1" maxOccurs="1" name="ignoreShieldDefence" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="instanceId" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="isAdvanced" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="isCritical" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="item" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="itemCount" type="xs:unsignedShort" />
            <xs:element minOccurs="1" maxOccurs="1" name="itemId" type="xs:unsignedInt" />
            <xs:element minOccurs="0" maxOccurs="1" name="items" type="XmlSkillEffectItemList" />
            <xs:element minOccurs="1" maxOccurs="1" name="knockDown" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="level" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="lifeTime" type="xs:unsignedShort" />
            <xs:element minOccurs="1" maxOccurs="1" name="magicType" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="magicTypes" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="magicWeapon" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="max" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="maxCharges" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="maxSouls" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="min" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="minDamage" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="1" maxOccurs="1" name="minSlot" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="mode" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="mp" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="mulStat" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="normal" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="npcCount" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="npcId" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="1" maxOccurs="1" name="onlyMagicSkill" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="onlyPhysicalSkill" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="optionalSlots" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="overHit" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="partyBuffSkillId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="pAtkAmount" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="pAtkMod" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="pAtkMode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="pAtkSpeedAmount" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="pAtkSpeedMode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="pDefMod" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="percentage" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="percentFrom" type="xs:decimal" />
            <xs:element minOccurs="1" maxOccurs="1" name="percentTo" type="xs:decimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="position" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="power" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="1" maxOccurs="1" name="powerModifier" type="xs:decimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="races" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="raceModifier" type="xs:decimal" />
            <xs:element minOccurs="1" maxOccurs="1" name="range" type="xs:unsignedShort" />
            <xs:element minOccurs="1" maxOccurs="1" name="rangeSkill" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="rangeSkillLevel" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="renewDuration" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="rate" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="repeatCount" type="xs:unsignedByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="replacementSkillId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="reputation" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="requiredSlots" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="ride" type="xs:unsignedShort" />
            <xs:element minOccurs="1" maxOccurs="1" name="shieldDefPercent" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="side" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="singleInstance" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="skillId" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId1" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId10" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId11" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId12" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId13" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId14" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId15" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId16" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId17" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId18" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId19" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId2" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId20" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId21" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId22" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId23" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId24" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId25" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId26" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId27" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId28" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId29" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId3" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId30" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId31" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId32" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId33" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId34" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId35" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId36" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId37" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId38" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId39" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId4" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId40" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId41" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId42" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId43" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId44" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId45" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId46" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId47" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId48" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId49" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId5" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId50" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId51" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId6" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId7" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId8" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId9" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="skillIds" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="skillLevel" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillLevelScaleTo" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="skills" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="skillSubLevel" type="XmlSkillValueOfUInt16" />
            <xs:element minOccurs="0" maxOccurs="1" name="slot" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="slots" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="sp" type="XmlSkillValueOfUInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="speed" type="XmlSkillValueOfUInt16" />
            <xs:element minOccurs="0" maxOccurs="1" name="stat" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="staticChance" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="targetType" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ticks" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="time" type="xs:unsignedInt" />
            <xs:element minOccurs="1" maxOccurs="1" name="times" type="xs:unsignedByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="transformationId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="triggerSkills" type="XmlSkillValue" />
            <xs:element minOccurs="1" maxOccurs="1" name="twoHandWeapon" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="value" type="XmlSkillValueOfDecimal" />
            <xs:element minOccurs="0" maxOccurs="1" name="weaponType" type="XmlSkillStringList" />
            <xs:element minOccurs="1" maxOccurs="1" name="wyvern" type="xs:unsignedShort" />
            <xs:element minOccurs="0" maxOccurs="1" name="x" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="xp" type="XmlSkillValueOfUInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="y" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="z" type="XmlSkillValueOfInt16" />
            <xs:element minOccurs="1" maxOccurs="1" name="zoneId" type="xs:unsignedByte" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="abnormalTime" type="xs:int" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlSkillLevelRestriction">
    <xs:attribute name="level" type="xs:unsignedByte" />
    <xs:attribute name="fromLevel" type="xs:unsignedByte" />
    <xs:attribute name="toLevel" type="xs:unsignedByte" />
    <xs:attribute name="fromSubLevel" type="xs:unsignedShort" />
    <xs:attribute name="toSubLevel" type="xs:unsignedShort" />
  </xs:complexType>
  <xs:complexType name="XmlSkillCondition">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlSkillLevelRestriction">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="affectType" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="alignment" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="amount" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="armorType" type="XmlSkillStringList" />
            <xs:element minOccurs="0" maxOccurs="1" name="classIds" type="XmlSkillStringList" />
            <xs:element minOccurs="0" maxOccurs="1" name="distance" type="XmlSkillValueOfInt32" />
            <xs:element minOccurs="0" maxOccurs="1" name="direction" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="doorIds" type="XmlSkillIntList" />
            <xs:element minOccurs="1" maxOccurs="1" name="hasAbnormal" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="hasLearned" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="includeMe" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="isAround" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="isFemale" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="isWithin" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="less" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="level" type="xs:unsignedByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="maxLevel" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="0" maxOccurs="1" name="minLevel" type="XmlSkillValueOfByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="npcId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="npcIds" type="XmlSkillIntList" />
            <xs:element minOccurs="0" maxOccurs="1" name="percentType" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="race" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="range" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="residenceIds" type="XmlSkillIntList" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="skillIds" type="XmlSkillIntList" />
            <xs:element minOccurs="1" maxOccurs="1" name="skillLevel" type="xs:unsignedByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="slotsPercent" type="xs:unsignedByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="teleportBookmarkSlots" type="xs:unsignedByte" />
            <xs:element minOccurs="1" maxOccurs="1" name="transformId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="weaponType" type="XmlSkillStringList" />
            <xs:element minOccurs="1" maxOccurs="1" name="weightPercent" type="xs:unsignedByte" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlSkillStringList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillIntList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillEffectLevelItemList">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlSkillLevelRestriction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="XmlSkillEffectItemListChance" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlSkillEffectItemListChance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="XmlSkillEffectItem" />
    </xs:sequence>
    <xs:attribute name="chance" type="xs:decimal" use="required" />
  </xs:complexType>
  <xs:complexType name="XmlSkillEffectItem">
    <xs:attribute name="id" type="xs:int" use="required" />
    <xs:attribute name="count" type="xs:long" use="required" />
    <xs:attribute name="minEnchant" type="xs:unsignedByte" />
    <xs:attribute name="maxEnchant" type="xs:unsignedByte" />
  </xs:complexType>
  <xs:complexType name="XmlSkillValueOfDecimal" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="XmlSkillLevelValueOfDecimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillLevelValueOfDecimal">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="level" type="xs:unsignedByte" />
        <xs:attribute name="fromLevel" type="xs:unsignedByte" />
        <xs:attribute name="toLevel" type="xs:unsignedByte" />
        <xs:attribute name="fromSubLevel" type="xs:unsignedShort" />
        <xs:attribute name="toSubLevel" type="xs:unsignedShort" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="XmlSkillValueOfSByte" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="XmlSkillLevelValueOfSByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillLevelValueOfSByte">
    <xs:simpleContent>
      <xs:extension base="xs:byte">
        <xs:attribute name="level" type="xs:unsignedByte" />
        <xs:attribute name="fromLevel" type="xs:unsignedByte" />
        <xs:attribute name="toLevel" type="xs:unsignedByte" />
        <xs:attribute name="fromSubLevel" type="xs:unsignedShort" />
        <xs:attribute name="toSubLevel" type="xs:unsignedShort" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="XmlSkillEffectItemList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="XmlSkillEffectItemListChance" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="XmlSkillEffectLevelItemList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillValueOfUInt32" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="XmlSkillLevelValueOfUInt32" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillLevelValueOfUInt32">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedInt">
        <xs:attribute name="level" type="xs:unsignedByte" />
        <xs:attribute name="fromLevel" type="xs:unsignedByte" />
        <xs:attribute name="toLevel" type="xs:unsignedByte" />
        <xs:attribute name="fromSubLevel" type="xs:unsignedShort" />
        <xs:attribute name="toSubLevel" type="xs:unsignedShort" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="XmlSkillCond">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="and" type="XmlSkillCondAnd" />
      <xs:element minOccurs="0" maxOccurs="1" name="not" type="XmlSkillCondNot" />
    </xs:sequence>
    <xs:attribute name="msgId" type="xs:unsignedByte" use="required" />
    <xs:attribute name="addName" type="xs:unsignedByte" use="required" />
  </xs:complexType>
  <xs:complexType name="XmlSkillCondAnd">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="player" type="XmlSkillCondAndPlayer" />
      <xs:element minOccurs="0" maxOccurs="1" name="not" type="XmlSkillCondAndNot" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillCondAndPlayer">
    <xs:attribute name="canEscape" type="xs:boolean" use="required" />
  </xs:complexType>
  <xs:complexType name="XmlSkillCondAndNot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="player" type="XmlSkillCondAndNotPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillCondAndNotPlayer">
    <xs:attribute name="insideZoneId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="XmlSkillCondNot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="player" type="XmlSkillCondNotPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillCondNotPlayer">
    <xs:attribute name="insideZoneId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="XmlSkillConditionList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="condition" type="XmlSkillCondition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillValueOfBoolean" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="XmlSkillLevelValueOfBoolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlSkillLevelValueOfBoolean">
    <xs:simpleContent>
      <xs:extension base="xs:boolean">
        <xs:attribute name="level" type="xs:unsignedByte" />
        <xs:attribute name="fromLevel" type="xs:unsignedByte" />
        <xs:attribute name="toLevel" type="xs:unsignedByte" />
        <xs:attribute name="fromSubLevel" type="xs:unsignedShort" />
        <xs:attribute name="toSubLevel" type="xs:unsignedShort" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>