L2Dn/L2Dn.GameServer/DataPack/xsd/TeleportListData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list" type="listType" />
	<xs:complexType name="teleportType" mixed="true">
		<xs:sequence>
			<xs:element type="locationType" name="location" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="id" use="optional" />
		<xs:attribute type="xs:string" name="x" use="optional" />
		<xs:attribute type="xs:string" name="y" use="optional" />
		<xs:attribute type="xs:string" name="z" use="optional" />
		<xs:attribute type="xs:string" name="price" use="optional" />
		<xs:attribute type="xs:string" name="special" use="optional" />
	</xs:complexType>
	<xs:complexType name="locationType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="x" use="optional" />
				<xs:attribute type="xs:string" name="y" use="optional" />
				<xs:attribute type="xs:string" name="z" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="listType">
		<xs:sequence>
			<xs:element type="teleportType" name="teleport" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>